@import url("https://fonts.cdnfonts.com/css/amazon-ember");

div {
    font-family: "Amazon Ember", sans-serif;
}

.product-container-cart {
    margin-left: 20px;
    width: 15%;
    max-height: 5%;
    max-height: 25%;
    text-align: center;
}

.product-image-cart {
    width: 85%;
}



.delete-button{
    background: 0;
    border: 0;
    font-size: 11px;
    cursor: pointer;
    border: 1px solid black;
}

.cart-item-price{
    padding-top:2%
}