@import url("https://fonts.cdnfonts.com/css/amazon-ember");


.checkout-image-container {
  width: 60%;
}

.checkout-image {
  height: 350px;
}
.checkout-container {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-label {
  color: #067d62;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  white-space: nowrap;
  margin-left: 1px;
}

.confirmed-image {
  width: 3%;
  
}

.checkout-misc {
  margin-top: 5px;
  text-align: center;
}



.checkout-message{
  font-family: "Amazon Ember", sans-serif;
  font-weight: bold;
  padding-left: 35px;
}