@import url("https://fonts.cdnfonts.com/css/amazon-ember");

.parent-container {
  display: flex;
  margin-top: 4%;
  font-family: "Amazon Ember", sans-serif;
}


.product-show{
    margin-left: 3%;
    margin-top: 3%;
    width: 20%;
    height: 20%;
  
    display: flex;
  justify-content: space-between;
    
}


.product-image-show {
    padding: 2%;
  margin-left: 50px;
    transition: transform .2s; 
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.product-image-show:hover {
   -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  }

  .product-title-details {
    margin-left: 7%;
    margin-right: 8%;
    font-size: 25px;
    width: 30%;
  }

  .product-title-details > p {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #007185;
    margin-top: 1%;
  }

  .product-price {
    margin-bottom: 1%;
 

  }

  .product-p1, .same-day{
    font-size: 20px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: bold;
  }


  .product-image-details{
    
    margin-left: 5%;
    width: 20%;
    height: 20%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .prime-label {
    position: relative;
    color: #565959;
    font-size: 14px;
    bottom: 4px;
  }

  .return-label, .returnable-label {
    color: #007185;
  }

  .return-label,
.delivery-label,
.fastest-delivery {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.points-back {
    font-size: 14px;
    line-height: 18px;
  }

  .product-linked-link {
    text-decoration: none;
    color: #007185;
  }
  
  .product__rating {
    display: flex;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    margin-top: 2%;
  }

  .product-cart-details {
    margin-left: 7%;
    width: 12%;
 
    border-radius: 8px 8px 0 0;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    border: 1px #d5d9d9 solid;
  }
  

.full-price{
  font-size: 18px;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-bottom: 1%;
  text-decoration: line-through;
}

  


  .tile-inner > span > p:first-child {
  
    background-color:#CC0C39;
    color:#ffffff;
     padding-right: 10px;
   }
 
   .tile-inner> span > p:last-child {
     font-size: 12px;
     padding-left: 5px;
     color:#CC0C39;
     font-family: "Amazon Ember",Arial, sans-serif; 
   }