/* .slider{
    position: relative;
    height: 70.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .slider{
    position: relative;
    padding-top: 20px;
    width: 80%;
    display: flex;
    padding-left: 10%;
    
  

}

.main-page-container{
    display: flex;
}

.image{
    position: relative;
    width: 100%;

    
   
}

.right-arrow{

    position: absolute;
    top:25%;
    right: 0%;
    font-size: 3rem;
    color:#000;
    z-index:1;
    cursor: pointer;
    user-select: none;
   
}

.left-arrow{
    position: absolute;
    top:25%;
    left: 10%;
    font-size: 3rem;
    color:#000;
    z-index:1;
    cursor: pointer;
    user-select: none;
    
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    display: flex;
    align-content: center;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    
} */