


.review-creator-button-container {
  padding-left: 45%;
  padding-top: 20px;
}

.product-review-label{
  justify-content: center;
  padding-left: 2%;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2%;
}

.review-creator-button {
  color: green;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  white-space: nowrap;
}

.star-png {
  margin-right: 1px;
  height: 16px;

}

.user-stars{
  pointer-events: none;
}


.username{
  
  font-weight: bold;
}


.review-rating {
  margin: 5px 0px;
  width: fit-content;
  pointer-events: none;
}

.authorized-review-buttons {
  margin-top: 10px;
  display: flex;
}

.edit,
.delete {
  border-style: solid;
  padding: 0;
  text-align: center;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  padding: 0 6px 0 7px;
  margin-right: 5px;
}

.delete-button {
  background: 0;
  border: 0;
  font-size: 11px;
  cursor: pointer;
}

