.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account-container{
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
}
.your-name-container{
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

  .signup-logo {
    object-fit: contain;
    width: 300px;
  }
  
.signup-form {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

  .sign-up-button{
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
  }

  