@import url("https://fonts.cdnfonts.com/css/amazon-ember");

#root {
  width: 100%;
}

.nav-bar {
  background-color: #131921;
  height: 100%;
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  font-family: "Amazon Ember", sans-serif;
  position: relative;
  z-index: 1;
  width: 100%;
}

.nav-left {
  width: 25%;
  min-width: 300px;
}

.nav-center {
  display: flex;
  align-items: center;
  width: 30%;
  flex: 1 1 auto;
  min-width: 600px;
}

.nav-search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-logo {
  margin-left: 5px;
  object-fit: contain;
  width: 100px;
}

.nav-search-field {
  width: 80%;
  height: 30px;
  padding: 5px 10px;
  z-index: 1;
  border-style: none;
  align-items: center;
}

.nav-search-button {
  background: url("../../assets/search-button.png") no-repeat scroll 0 0
    transparent;
  background-color: #febd69;
  background-size: 60%;
  background-position: 65% 50%;
  color: transparent;
  border-radius: 5px;
  position: relative;
  right: 7px;
  border-style: none;
  border: none;
  cursor: pointer;
}

.nav-right {
  color: white;
  display: flex;
  justify-content: center;
}

.nav-right-container:last-child {
  display: flex;
  align-items: center;
}

.nav-right-container {
  margin: auto 10px;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid transparent;
  height: 50%;
  max-height: 70px;
  inline-size: max-content;
}

.nav-right-container:hover {
  border: 1px solid white;
}

.nav-right-container > a {
  text-decoration: none;
  color: inherit;
}

.nav-right-container > span,
.nav-right-container > a > span {
  font-size: 12px;
}

.nav-right-container > p,
.nav-right-container > a > p {
  font-weight: bold;
}

.nav-right > ul {
  display: flex;
}

.nav-right > ul > li {
  font-size: 18px;
  margin: 5px auto;
}


.header {
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #131921;
        position:relative;
        top: 0;
        z-index: 100;
        justify-content: space-between;
      }
      
      .header__logo {
        width: 100px;
        object-fit: contain;
        margin: 0 20px;
        margin-top: 18px;
      }
      
      .header__search {
        display: flex;
        flex: 1;
        align-items: center;
        border-radius: 24px;
      }
      
      .header__searchInput {
        display: flex;
        height: 12px;
        padding: 10px;
        border: none;
        width: 100%;
       
      }
      
      .header__searchIcon {
        padding: 5px;
        height: 22px !important;
        background-color: #cd9042;
      }
        
      .header__optionLineOne {
        font-family: "Amazon Ember", sans-serif;
        font-weight: bold;
        font-size: 14px;
      }

      .header__optionOneLineOne{
        display: flex;
        font-family: "Amazon Ember", sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: white;
      }
 
     
      
      .header__optionLineTwo {
        font-family: "Amazon Ember", sans-serif;
        font-weight: bold;
        color: white;
      }
      
      .header__optionBasket {
        display: flex;
        align-items: center;
        color: white;
      }
      
      .header__basketCount {
        margin-left: 10px;
        margin-right: 10px;
      }
      
      .header__nav {
        display: flex;
        justify-content: space-evenly;
      }
      
      .header__option {
        margin: auto 10 px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px 15px;
        color: white;
      }

      .header__option:hover {
        box-shadow: inset 0 0 1px white;
        
      }

      .dropbtn {
          background-color: #131921;
        color: white;
        
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        margin: 0px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-content a:hover {background-color: #ddd;}
    
      .dropdown:hover .dropdown-content {display: block;
      
      }



      .dropdown-content button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .external-link{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    
      }
      .external-link a{
        transform: scale(1.5);
       color: white;
      }

      .linkedin{
       padding-left: 15px;
        padding-right: 20px;
        
      }

      .github{
        padding-left: 7px;
        padding-right: 20px;
      }

      /* .slider{
    position: relative;
    height: 70.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.slider{
  object-fit: contain;
  width: 100;
 


}

.main-page-container{
  display: flex;
  flex-direction: column;
}

.image{
  position: absolute;
  width: 100%;
  z-index: -1;
  
 
}

.right-arrow{

  position: absolute;
  top:25%;
  right: 32px;
  font-size: 3rem;
  color:#000;
  z-index:1;
  cursor: pointer;
  user-select: none;
 
}

.left-arrow{
  position: absolute;
  top:25%;
  left: 32px;
  font-size: 3rem;
  color:#000;
  z-index:1;
  cursor: pointer;
  user-select: none;
  
}
/* 
.slide{
  opacity: 0;
  transition-duration: 1s ease;
} */



.slide.active{
  display: flex;
  align-content: center;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  
}

.sometext{
display: flex;
justify-content: space-between;

}

.tile1{
  /* width: 50%; height: 100px; float: left; background: green; */
  height: 300px;
 margin-top: 19%;
  background: green;
  color: black;
  border: solid 2px;
  border-color: #000;
  display: flex;
  align-content: center;
 width: 20%;
  transform: scale(1.08);
}

.tile2{
  /* width: 50%; margin-left: 50%; height: 100px; background: blue; margin-top: 25%; */
  background: blue;
  margin-top: 19%;
  height:300px;
  color: black;
  border: solid 2px;
  border-color: #000;
  display: flex;
  align-content: center;
 width: 20%;
  transform: scale(1.08);
}

.tile3{
  /* width: 50%; margin-left: 50%; height: 100px; background: blue; margin-top: 25%; */
  background: pink;
  margin-top: 19%;
  height: 300px;
  color: black;
  border: solid 2px;
  border-color: #000;
  display: flex;
  align-content: center;
 width: 20%;
  transform: scale(1.08);
}
.tile4{
  /* width: 50%; margin-left: 50%; height: 100px; background: blue; margin-top: 25%; */
  background: orange;
  margin-top: 19%;
  height: 300px;
  color: black;
  border: solid 2px;
  border-color: #000;
  display: flex;
  align-content: center;
 width: 20%;
  transform: scale(1.08);
}